{% extends "layout.html"  %}
{% block title %}Login{% endblock %}
{% block heading %}Login{% endblock %}
{% block body %}
    <p>A login is required</p>
    <form class="form-actions" xmlns="http://www.w3.org/1999/html" action="{{ url_for("login") }}" method="post">

       <p>
        Username<input class="form-horizontal" type="text" name="username">
       </p>
        <p>
        Password<input type="password" name="password">
        </p>
        <input type="submit" value="Submit">
    </form>


{% endblock %}